[user]
	name = Tran-Duc-Hoa
	email = tranduchoa611@gmail.com
[pull]
	rebase = false
[push]
	autoSetupRemote = true
[core]
	autocrlf = input
	editor = code --wait
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = "code --wait --diff $LOCAL $REMOTE"

